@model List<Odev.Models.Products>

<section class="hero bg-dark text-white text-center py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 data-aos="fade-up">Ürünler</h1>
            </div>
        </div>
    </div>
</section>

<section class="product-list py-5 bg-black text-white">
    <div class="container">
        <div class="row g-4">

            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-lg-3">
                    <div class="card h-100 bg-dark text-white border-secondary">
                        <div class="card-header text-center bg-danger">@product.Name</div>
                        <img src="@product.Image" class="card-img-top" alt="@product.Name" style="height: 200px; object-fit: cover;" />

                        <div class="card-body">
                            <p class="card-text">
                                @(product.Description != null && product.Description.Length > 30
                                    ? product.Description.Substring(0, 30) + "..."
                                    : product.Description)
                            </p>

                            <p class="card-text fw-bold">₺@product.Price</p>
                        </div>
                        <div class="card-footer text-center bg-danger">
                            <a href="/Default/ProductDetail/@product.Id" class="btn btn-outline-light">Ürünü İncele</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
